# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/RemoteControl/.vs
/RemoteControl/.vs/RemoteControl/v17/.suo
/RemoteControl/.vs/RemoteControl/v17/Browse.VC.db
/RemoteControl/.vs/RemoteControl/v17/ipch/fbc0c8f70ce0369f.ipch
/RemoteControl/RemoteClient/RemoteClient.vcxproj.user
/RemoteControl/RemoteControl/RemoteControl.vcxproj.user
/RemoteControl/RemoteClient/RemoteClient.aps
/RemoteControl/x64
/RemoteControl/RemoteClient/x64
/RemoteControl/RemoteControl/x64
/RemoteControl/RemoteControl/RemoteControl.aps
